/* Mobile Support */

@media screen and (max-width: 1350px) {

    #left_col {
        float: left;
        width: 50%;
    }
    
    #right_col {
        margin-left: 5%;
    }
}

@media screen and (max-width: 960px) {

    #left_col {
        float: left;
        width: 50%;
    }
    
    #right_col {
        margin-left: 5%;
    }
}

@media screen and (max-width: 800px) {
    * {
        font-size: 1rem;
    }

    #left_col {
        float: none;
        width: 100%;
    }
    
    #right_col {
        margin-left: 0%;
    }
}

@media screen and (max-width: 768px) {

    #right_col {
        padding: 0%;
    }

    .education h1 {
        padding: 0;
    }

    .education__container {
        padding: 1vh;
    }

    .experience h1 {
        padding: 0;
    }

    .experience__card {
        padding: 2rem 1rem;
    }

    .experience__detail {
        padding: 5vw;
    }

    .trademark {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    /* #home img {
        display: none;
    } */

    .fa-solid {
        display: none !important;
    }

    .skills {
        margin-bottom: 0;
        padding: 0;
    }
    
    .education h1 {
        padding: 0;
    }

    .education__container {
        padding: 1vh;
    }
}